{% extends "Entrega_tres/base.html" %}
{% load static %}

{% block main%}  
<body style="
background-color:hsl(178, 32%, 69%);
"
>

</body>
<div>
  <br>
  <h2><U>Página de inicio</U></h2>
  <p><I>Página inicial para la administración de perfiles y cursos</I></p>
  <br><p> Desde la barra superior se accede a los distintos sectores de administracion: Alumnos, Profesores y Cursos.
    <br>En cada una de ellas existe un buscador para los items correspondientes.
  </p>
</div>
</body>
  {% endblock %}
